﻿@model _200604735.Models.Student

<h2>Add Student</h2>

<form method="post">
    <div>
        <label asp-for="FirstName">First Name</label>
        <input type="text" asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>

    <div>
        <label asp-for="LastName">Last Name</label>
        <input type="text" asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>

    <div>
        <label asp-for="EmailAddress">Email Address</label>
        <input type="email" asp-for="EmailAddress" />
        <span asp-validation-for="EmailAddress"></span>
    </div>

    <button type="submit">Create</button>
</form>

<a href="/Student">Back to List</a>
