@model _200604735.Models.Student


<h2>Student Details</h2>

<p>Student ID: @Model.StudentId</p>
<p>First Name: @Model.FirstName</p>
<p>Last Name: @Model.LastName</p>
<p>Email Address: @Model.EmailAddress ?? "No Email"</p>

<a href="/Student">Back to List</a>
